.navbar-container {
  background-color: #ff6600;
  padding: 2px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links,
.home-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}

.navbar-links > Link:not(:first-child) {
  font-size: 12px;
}

.home-links > img {
  border: 1px solid white;
  margin: 0px 2px;
}

.navbar-links > div:not(:first-child) {
  /* margin-right: 10px; */
  /* border-right: 1px solid black; */
  padding: 0px 5px;
}

.login {
  padding-right: 10px;
  cursor: pointer;
}
