.footer-container {
  border-top: 1px solid #ff6600;
  text-align: center;
  margin-top: 10px;
  font-size: 11.5px;
  background-color: #f6f6ef;
  padding-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links > div {
  border-right: 1px solid grey;
  /* margin-right: 10px; */
  padding-right: 10px;
  margin: 10px 10px 10px 0px;
}

label {
  font-size: 14px;
  color: #828282;
}
