* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  font-size: 14px;
  width: 83%;
  margin: 0 auto;
  padding-top: 10px;
}
