.list-container {
  margin-left: 20px;
  padding-top: 15px;
}

.news-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* line-height: -10px; */
}

span {
  padding-left: 4px;
}

.statistics {
  display: inline-block;
  margin-top: -20px;
}
